{% extends "/base.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/useful_links.css') }}">
{% endblock %}


{% block content %}

<section class="useful-links">
  <div class="container">
    <h2>{{ content.title }}</h2>
    <ul class="useful-links-list">
      {% for item in content["items"] %}
  <li>
    <span class="icon-circle">
      <i class="{{ item.icon }}"></i>
    </span>

    <div class="useful-link-text">
      <strong>{{ item.title }}</strong>
      {% for para in item.paragraphs %}
        <p>
          {% for part in para.parts %}
            {% if part.type == "text" %}
              {{ part.content }}
            {% elif part.type == "link" %}
              <a href="{{ part.url }}" target="_blank">{{ part.text }}</a>
            {% endif %}
          {% endfor %}
        </p>
      {% endfor %}
    </div>
  </li>
{% endfor %}
    </ul>
  </div>
</section>

{% endblock content %}