{% extends "/base.html" %}


{% block title %}

    {{ content.title }}
    
{% endblock title %}




{% block content %}

<section class="useful-info" id="useful-info">
  <div data-lang="en">
    <h3>{{ content.title }}</h3>
    <ul>
    {% for item in content["items"] %}
    <li>
        <strong>{{ item.title }}</strong> - {{ item.text }}
        <a href="{{ item.link_url }}" target="_blank">{{ item.link_text }}</a>
        {{ item.extra }}
        <a href="{{ item.extra_link_url }}" target="_blank">{{ item.extra_link_text }}</a>.
    </li>
    {% endfor %}
    </ul>
  </div>
</section>

{% endblock content %}